{% extends "layout.html" %}
{% block title %}Créer Reverse Proxy{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Nouveau Reverse Proxy</h2>
    <form method="POST" action="/rp/create">
        <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">IP Bind</label>
            <input type="text" name="ip_bind" class="form-control"required 
            pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[1-9])$"
            title="Veuillez entrer une adresse IPv4 valide (ex: 192.168.1.10). Le dernier octet ne doit pas dépasser 254.">
        </div>
        <div class="mb-3">
            <label class="form-label">Pass (URL backend)</label>
            <input type="text" name="pass" class="form-control" required>
            <input type="url" name="pass" class="form-control" required  pattern="https?://.*"title="Veuillez entrer une URL valide commençant par http:// ou https://"
        placeholder="http://127.0.0.1:8080">
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
        <a href="/rp/list" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
