{% extends "layout.html" %}
{% block title %}Créer Web Server{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Nouveau Web Server</h2>
    <form method="POST" action="/ws/create">
        <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">IP Bind</label>
            <input type="text" name="ip_bind" class="form-control"required 
            pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[1-9])$"
            title="Veuillez entrer une adresse IPv4 valide (ex: 192.168.1.10). Le dernier octet ne doit pas dépasser 254.">
        </div>
        <div class="mb-3">
            <label class="form-label">Port</label>
            <input type="number" name="port" class="form-control" required min="1"  max="65535"  title="Veuillez entrer un numéro de port valide (entre 1 et 65535).">
        </div>
        <div class="mb-3">
            <label class="form-label">Root (chemin du site)</label>
            <input type="text" name="root" class="form-control" required
        pattern="^\/([-a-zA-Z0-9_.]+\/?)*$"
        title="Veuillez entrer un chemin absolu valide (ex: /var/www/html). Il doit commencer par un slash (/) et ne pas contenir d'espaces.">
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
        <a href="/ws/list" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
